<section tabindex="-1">

    <paper-material elevation="2">

        <h2>Selectionnez un utilisateur</h2>

        <div class="wrap horizontal center">
            <div class="mtrl-view-select">
                <paper-dropdown-menu label="Stucture">
                    <paper-listbox class="dropdown-content">
                        <paper-item>DLSI</paper-item>
                        <paper-item>DRH</paper-item>
                        <paper-item>DGAT</paper-item>
                    </paper-listbox>
                </paper-dropdown-menu>
            </div>

            <div class="mtrl-view-select">
                <paper-dropdown-menu label="Utilisateur">
                    <paper-listbox class="dropdown-content">
                        <paper-item>Phillipe Gérard</paper-item>
                        <paper-item>Valentin Bourreau</paper-item>
                    </paper-listbox>
                </paper-dropdown-menu>
            </div>
        </div>

        <div class="right">
            <paper-button ng-click="search.load()" raised>Recherche</paper-button>
        </div>

    </paper-material>

    <paper-material class="mtrl-view">
        <div class="mtrl-printer-chart transparent">
            <paper-toggle-button>Activer le calcul des coûts</paper-toggle-button>
            <paper-toggle-button>Vision Mensuel</paper-toggle-button>
            <google-chart type='area' options='{"title": "", "backgroundColor": "transparent"}' data='[["Month", "2016"], ["Janvier", 15000],["Fevrier", 15400],["Mars", 15600],["Avril", 15800],["Mai", 15900],["Juin", 16200],["Juillet", 16300],["Août", 16400],["Septembre", 16700],["Octobre", 17000],["Novembre", 17500],["Décembre", 17800]]' rows='[]'></google-chart>
        </div>
    </paper-material>

    <paper-datatable-card class="mtrl-view-datatable" id="datatableCard" header="Impressions affichées" page-size="10" data-source="{{data}}" id-property="id" selected-ids="{{selectedIds}}">
        <div toolbar-main>
            <paper-input value="{{searchTerm}}" on-input="retrieveResults" label="Search..." style="display:inline-block" no-label-float>
                <div prefix>
                    <iron-icon icon="search"></iron-icon>
                </div>
            </paper-input>
            <paper-icon-button icon="cached" on-tap="retrieveResults"></paper-icon-button>
        </div>
        <div toolbar-select>
            <paper-icon-button icon="delete" on-tap="deleteSelected"></paper-icon-button>
        </div>
        <div toolbar-select-single>
            <paper-icon-button icon="datatable:editable" on-tap="editDialogForSelected"></paper-icon-button>
        </div>
        <paper-datatable id="datatable" selectable multi-selection selected-items="{{selectedItems}}" on-row-tap="rowTapped">
            <div no-results>
                Recherche ou aucune impression...
            </div>
            <paper-datatable-column header="ID" property="id" type="Integer" tooltip="Some title" sortable align="center" style="min-width: 40px" sorted></paper-datatable-column>
            <paper-datatable-column header="Nom imprimante" property="name" type="Object" tooltip="Some title" sortable style="min-width: 160px">
                <template>
                    <span>{{value.name}}</span>
                    <span>{{value.model}}</span>
                </template>
            </paper-datatable-column>
            <paper-datatable-column header="Date d'impression" property="created_at" type="Date" tooltip="Some title" sortable style="min-width: 40px" inactive></paper-datatable-column>
            <paper-datatable-column header="Quantité" property="quantity" type="Integer" sortable tooltip="Some title" dialog format-value="{{clip}}" edit-icon></paper-datatable-column>
            <paper-datatable-column header="Format" property="format" type="String" tooltip="Some title" cell-style="font-family:monospace;" dialog format-value="{{formatLatLng}}" edit-icon></paper-datatable-column>
            <paper-datatable-column header="Couleur" property="color" type="String" tooltip="Some title" cell-style="font-family:monospace;" dialog format-value="{{formatLatLng}}" edit-icon></paper-datatable-column>
            <paper-datatable-column header="Côté" property="side" type="String" tooltip="Some title"  cell-style="font-family:monospace;" dialog format-value="{{formatLatLng}}" edit-icon></paper-datatable-column>
            <paper-datatable-column header="Type" property="type" type="String" tooltip="Some title" cell-style="font-family:monospace;" dialog format-value="{{formatLatLng}}" edit-icon></paper-datatable-column>
        </paper-datatable>
    </paper-datatable-card>


</section>
