<!-- Main Toolbar -->
<paper-toolbar id="mainToolbar" class="tall">

    <!-- Main Toolbar -->
    <paper-toolbar id="mainToolbar" class="tall">
        <!-- Import header by ui.router -->
        <div ui-view="header"></div>
    </paper-toolbar>

    <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>

    <span class="space"></span>

    <div ng-controller="UserController as user">
        <!-- Toolbar icons -->
        <paper-icon-button id="btn-home" icon="home" ui-sref="home"></paper-icon-button>
        <paper-icon-button id="btn-help" icon="help" ui-sref="help"></paper-icon-button>
        <paper-icon-button id="btn-logout" icon="power-settings-new" ng-click="user.logout()"></paper-icon-button>

        <paper-tooltip for="btn-home" position="bottom" animation-delay="0">Accueil</paper-tooltip>
        <paper-tooltip for="btn-help" position="bottom" animation-delay="0">Aide</paper-tooltip>
        <paper-tooltip for="btn-logout" position="bottom" animation-delay="0">Déconnection</paper-tooltip>
    </div>

    <!-- Application name -->
    <div id="header-title" class="middle middle-container">
        <div class="app-name">
            <img ng-if="icon" src="images/index.png" alt=""/>
            <h1 ng-if="name">{{name}}</h1>
        </div>
    </div>

    <!-- Application sub title -->
    <div id="header-sub-title" class="bottom bottom-container">
        <div ng-if="subname" class="bottom-title">{{subname}}</div>
    </div>

    <!-- Application icon -->
    <div id="header-img" class="right right-container">
        <div class="right-title">
            <img src="images/anjou-blanc.png" alt=""/>
        </div>
    </div>

</paper-toolbar>
