<section tabindex="-1">

    <paper-material elevation="2" class="mtrl-install-box">

        <h2>Selectionnez votre visualisation :
            <paper-dropdown-menu class="mtrl-install-select" no-label-float>
                <paper-listbox class="dropdown-content" selected="0">
                    <paper-item>Tickets à valider selon votre rôle</paper-item>
                    <paper-item>Tickets à valider</paper-item>
                    <paper-item>Tous les tickets</paper-item>
                </paper-listbox>
            </paper-dropdown-menu>
        </h2>
    </paper-material>

    <div class="wrap horizontal">

        <div class="mtrl-install-ticket">
            <paper-material>

                <div class="wrap horizontal">

                    <div class="mtrl-install-ticket-img">
                        <div class="center">
                            <img src="../images/ticket.svg" alt="" />
                        </div>
                    </div>

                    <div class="mtrl-install-data-ticket">
                        <div class="right">
                            <paper-button raised>Mise en réseau</paper-button>
                        </div>

                        <table>
                            <tr>
                                <th>Date de création : </th>
                                <th>26/07/2016</th>
                            </tr>
                            <tr>
                                <th>Date de modification :</th>
                                <th>27/07/2016</th>
                            </tr>
                        </table>

                    </div>

                </div>

                <hr>

                <div class="wrap horizontal">

                    <div class="mtrl-install-data-printer">

                        <table>
                            <tr>
                                <th>Nom : </th>
                                <th>COPDSI01</th>
                            </tr>
                            <tr>
                                <th>Modèle :</th>
                                <th>KONICA MINOLTA E1525</th>
                            </tr>
                            <tr>
                                <th>Localisation :</th>
                                <th>Angers > Hotel du département > DLSI</th>
                            </tr>
                            <tr>
                                <th>N° Inventaire : </th>
                                <th>1545184154</th>
                            </tr>
                            <tr>
                                <th>N° Série :</th>
                                <th>25615478153</th>
                            </tr>
                        </table>

                    </div>

                </div>

            </paper-material>
        </div>

        <div class="mtrl-install-ticket">
            <paper-material>

                <div class="wrap horizontal">

                    <div class="mtrl-install-ticket-img">
                        <div class="center">
                            <img src="../images/ticket.svg" alt="" />
                        </div>
                    </div>

                    <div class="mtrl-install-data-ticket">
                        <div class="right">
                            <paper-button raised>Mise en réseau</paper-button>
                        </div>

                        <table>
                            <tr>
                                <th>Date de création : </th>
                                <th>26/07/2016</th>
                            </tr>
                            <tr>
                                <th>Date de modification :</th>
                                <th>27/07/2016</th>
                            </tr>
                        </table>

                    </div>

                </div>

                <hr>

                <div class="wrap horizontal">

                    <div class="mtrl-install-data-printer">

                        <table>
                            <tr>
                                <th>Nom : </th>
                                <th>COPDSI01</th>
                            </tr>
                            <tr>
                                <th>Modèle :</th>
                                <th>KONICA MINOLTA E1525</th>
                            </tr>
                            <tr>
                                <th>Localisation :</th>
                                <th>Angers > Hotel du département > DLSI</th>
                            </tr>
                            <tr>
                                <th>N° Inventaire : </th>
                                <th>1545184154</th>
                            </tr>
                            <tr>
                                <th>N° Série :</th>
                                <th>25615478153</th>
                            </tr>
                        </table>

                    </div>

                </div>

            </paper-material>
        </div>
    </div>



</section>
