<section tabindex="-1">

    <div class="wrap horizontal center">
        <paper-material class="mtrl-login-box" elevation="2">

            <div class="center">
                <img src="images/printers.png" alt="" />
                <h1 class="app-name">Application Printa</h1>
                <span>Connectez-vous avec vos identifiants du Maine et Loire</span>
            </div>
            
            <paper-input label="Adresse mail">
                <iron-icon icon="mail" prefix></iron-icon>
                <div suffix>@maine-et-loire.fr</div>
            </paper-input>

            <paper-input label="Mot de passe" type="password"></paper-input>

            <div class="right">
                <paper-button raised>Connexion</paper-button>
            </div>

        </paper-material>
    </div>

</section>
