<section tabindex="-1">

    <div class="mtrl-intro" elevation="1">
        <h1 class="page-title" tabindex="-1">Recherche</h1>
        <p>Veuillez cliquez sur la carte correspondant à une imprimante pour dévoilé les informations et pourvoir l'ajouter à vos imprimantes personnelles</p>
    </div>

    <div class="wrap horizontal center">
        <!-- #GlobaleItem -->
        <paper-material class="mtrl-search-chart" elevation="2">
            <google-chart type='pie' options='{"title": "Utilisation au sein du service", "backgroundColor": "transparent", "legend": "none"}' cols='[{"label":"printer-name", "type":"string"}, {"label":"printer-counter", "type":"number"}]' rows='[["copdsi01", 1289],["copdsi02", 1245],["copdsi03", 2564], ["copdsi04", 2547], ["copdsi04", 521]]'></google-chart>
        </paper-material>

        <!-- #Item1 -->
        <paper-card class="mtrl-search-item" image="images/printer/printers.svg">
            <div class="card-content">
                copdsi01
            <div class="card-actions">
                <div class="wrap horizontal">
                    <paper-button raised>PLus d'informations</paper-button>
                </div>
            </div>
        </paper-card>

        <!-- #Item2 -->
        <paper-card class="mtrl-search-item" image="images/printer/printers.svg">
            <div class="card-content">
                copdsi01
            <div class="card-actions">
                <div class="wrap horizontal">
                    <paper-button raised>PLus d'informations</paper-button>
                </div>
            </div>
        </paper-card>

        <!-- #Item3 -->
        <paper-card class="mtrl-search-item" image="images/printer/printers.svg">
            <div class="card-content">
                copdsi01
            <div class="card-actions">
                <div class="wrap horizontal">
                    <paper-button raised>PLus d'informations</paper-button>
                </div>
            </div>
        </paper-card>

        <!-- #Item4 -->
        <paper-card class="mtrl-search-item" image="images/printer/printers.svg">
            <div class="card-content">
                copdsi01
            <div class="card-actions">
                <div class="wrap horizontal">
                    <paper-button raised>PLus d'informations</paper-button>
                </div>
            </div>
        </paper-card>



    </div>


</section>
